
  <mat-slide-toggle  [(ngModel)]="isChecked" (change)="toggle($event)" >{{"labels.Acive_Only"|translate}}</mat-slide-toggle><br />
    <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="Active" >
      <mat-button-toggle *ngFor="let item of toggleOptions;" (change)="toggle($event.value)" [value]="item">{{item}}</mat-button-toggle>
    </mat-button-toggle-group> -->
      <!-- <mat-button-toggle value="bold">Active</mat-button-toggle>
      <mat-button-toggle value="italic">All</mat-button-toggle>
    </mat-button-toggle-group> -->