<h5 class="card-title fw-semi-bold text-primary-dark text-center mb-3">
  {{ "ForgotPassword.Forgot_Password" | translate }}
</h5>
<form (ngSubmit)="forgetPassword()" #form="ngForm" [formGroup]="forgetPasswordForm" autocomplete="off" novalidate>
  <div class="mb-3">
    <label class="form-label">{{"labels.email_or_username" | translate}}</label>
    <input type="email" class="form-control"
      [ngClass]="{'is-invalid':email?.invalid &&(email?.dirty || email?.touched) &&email?.errors?.required}"
      formControlName="email" name="email" [placeholder]="placeholderEmail" />
    <div class="invalid-feedback" *ngIf="((email?.dirty || email?.touched) && email?.errors?.required)">
      {{ "error_messages.Email_Is_Required" | translate }}
    </div>
    <!-- <div class="invalid-feedback" *ngIf="
(email?.invalid && form?.submitted && email?.errors?.required) || ((email?.dirty || email?.touched) && email?.errors?.required)">
      {{ "ForgotPassword.Enter_Valid_Email" | translate }}
    </div> -->
  </div>
  <div class="text-center pt-4 mb-2">
    <button type="submit" class="btn btn-sm btn-primary-dark px-3" [disabled]="!forgetPasswordForm.valid">
      {{ "ForgotPassword.Send" | translate }}
    </button>
  </div>
  <p class="mb-0 text-center">
    <a [routerLink]="['../login']" class="fs-xs text-secondary">{{
      "ForgotPassword.Back" | translate
      }}</a>
  </p>
</form>