<h5 class="card-title fw-semi-bold mb-3">
  {{ "ForgotPassword.Forgot_Password" | translate }}
</h5>
<form
  (ngSubmit)="forgetPassword()"
  #form="ngForm"
  [formGroup]="forgetPasswordForm"
  autocomplete="off"
  novalidate
>
  <div class="subject-color fontSize-12 Weight-regular pb-10 input-field">
    {{ "ForgotPassword.Email_ID" | translate }}
  </div>
  <div class="input-area pb-10">
    <input
      type="email"
      class="form-control"
      formControlName="email"
      name="email"
      placeholder="{{ 'ForgotPassword.Email_Placeholder' | translate }}"
    />
    <label
      class="error-color fontSize-10"
      *ngIf="
        email?.invalid &&
        (email?.dirty || email?.touched) &&
        email?.errors?.required
      "
    >
      {{ "ForgotPassword.Email_Is_Required" | translate }}
    </label>
    <label
      class="error-color fontSize-10"
      *ngIf="
        email?.invalid &&
        (email?.dirty || email?.touched) &&
        email?.errors?.email
      "
    >
      {{ "ForgotPassword.Enter_Valid_Email" | translate }}
    </label>
  </div>
  <!-- <label class="success-color fontSize-12" *ngIf="successMessage != ''">
                        {{successMessage}}
                    </label> -->
  <div class="section-button text-center">
    <button type="submit" class="primary-button fontSize-14 Weight-regular">
      {{ "ForgotPassword.Send" | translate }}</button
    ><br />
    <a [routerLink]="['../login']" class="back-button">{{
      "ForgotPassword.Back" | translate
    }}</a>
  </div>
</form>
