<ng-container *ngIf="currentSlide == 1">
  <h5 *ngIf="!forgotPassword" class="card-title fw-semi-bold text-primary-dark text-center mb-3">
    {{ "ResetPassword.Reset_Password" | translate }}
  </h5>
  <h5 *ngIf="forgotPassword" class="card-title fw-semi-bold text-primary-dark text-center mb-3">
    {{ "ForgotPassword.Forgot_Password" | translate }}
  </h5>
  <!-- (ngSubmit)="resetPassword()" -->
  <form (ngSubmit)="resetPassword()" #form="ngForm" [formGroup]="resetPasswordForm" autocomplete="off" novalidate>
    <div class="mb-3">
      <label class="form-label">
        {{ "ResetPassword.New_Password" | translate }}
      </label>
      <input type="password" formControlName="newpassword" (keyup)="passwordChanged()" name="newpassword"
        placeholder="********" class="form-control" />
      <div class="invalid-feedback" [ngClass]="{
        'is-invalid':
          (newpassword?.invalid &&
            form?.submitted &&
            newpassword?.errors?.required) ||
          (newpassword?.invalid &&
            newpassword?.touched &&
            newpassword?.errors?.required)
      }" *ngIf="
        (newpassword?.invalid &&
          form?.submitted &&
          newpassword?.errors?.required) ||
        (newpassword?.invalid &&
          newpassword?.touched &&
          newpassword?.errors?.required)
      ">
        {{ "ResetPassword.Password_Is_Required" | translate }}
      </div>
      <div class="invalid-feedback" [ngClass]="{
        'is-invalid':
          (newpassword?.invalid &&
            form?.submitted &&
            newpassword?.errors?.pattern) ||
          (newpassword?.invalid &&
            newpassword?.touched &&
            newpassword?.errors?.pattern)
      }" *ngIf="
        (newpassword?.invalid &&
          form?.submitted &&
          newpassword?.errors?.pattern) ||
        (newpassword?.invalid &&
          newpassword?.touched &&
          newpassword?.errors?.pattern)
      ">
        {{ "ResetPassword.Password_Not_Valid" | translate }}
      </div>
    </div>
    <div class="card card-password-rules shadow-sm mb-3" *ngIf="showTooltip">
      <div class="card-body fs-xs">
        <p class="fw-semi-bold mb-2">
          {{ "ResetPassword.Rules_For_New_Password" | translate }}
        </p>
        <ul class="list-unstyled d-grid gap-1 mb-0">
          <li class="d-flex align-items-center gap-2">
            <i class="fas fa-circle fs-mini" [ngClass]="
              form?.submitted || newpassword?.touched
                ? isPassword8CharLong
                  ? 'text-success'
                  : 'text-danger'
                : 'text-light'
            "></i>
            <p class="mb-0">
              {{ "ResetPassword.Atleast_8_Char_Long" | translate }}
            </p>
          </li>
          <li class="d-flex align-items-center gap-2">
            <i class="fas fa-circle fs-mini" [ngClass]="
              form?.submitted || newpassword?.touched
                ? isPasswordContainsLowerCaseChar
                  ? 'text-success'
                  : 'text-danger'
                : 'text-light'
            "></i>
            <p class="mb-0">
              {{ "ResetPassword.Atleast_1_Lowercase_Letter" | translate }}
            </p>
          </li>
          <li class="d-flex align-items-center gap-2">
            <i class="fas fa-circle fs-mini" [ngClass]="
              form?.submitted || newpassword?.touched
                ? isPasswordContainsUpperCaseChar
                  ? 'text-success'
                  : 'text-danger'
                : 'text-light'
            "></i>
            <p class="mb-0">
              {{ "ResetPassword.Atleast_1_Uppercase_Letter" | translate }}
            </p>
          </li>
          <li class="d-flex align-items-center gap-2">
            <i class="fas fa-circle fs-mini" [ngClass]="
              form?.submitted || newpassword?.touched
                ? isPasswordContainsNumber
                  ? 'text-success'
                  : 'text-danger'
                : 'text-light'
            "></i>
            <p class="mb-0">{{ "ResetPassword.Atleast_1_Number" | translate }}</p>
          </li>
          <li class="d-flex align-items-center gap-2">
            <i class="fas fa-circle fs-mini" [ngClass]="
              form?.submitted || newpassword?.touched
                ? isPasswordContainsSpecialChar
                  ? 'text-success'
                  : 'text-danger'
                : 'text-light'
            "></i>
            <p class="mb-0">
              {{ "ResetPassword.Atleast_1_Special_Character" | translate }}
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">
        {{ "ResetPassword.Confirm_Password" | translate }}
      </label>
      <div class="input-group" [ngClass]="{
        'is-invalid':
          confirmpassword?.invalid &&
          (confirmpassword?.dirty || confirmpassword?.touched) &&
          confirmpassword?.errors?.confirmedValidator
      }">
        <input #passwordField type="password" formControlName="confirmpassword" name="confirmpassword"
          placeholder="********" class="form-control" [ngClass]="{
          'is-invalid':
            confirmpassword?.invalid &&
            (confirmpassword?.dirty || confirmpassword?.touched) &&
            confirmpassword?.errors?.confirmedValidator
        }" />
        <button class="btn btn-sm btn-outline-light" *ngIf="showPassword" (click)="toggleShow()">
          <i class="fas fa-eye fs-sm"></i>
        </button>
        <button class="btn btn-sm btn-outline-light" *ngIf="!showPassword" (click)="toggleShow()">
          <i class="fas fa-eye-slash fs-sm"></i>
        </button>
      </div>
      <div class="invalid-feedback" [ngClass]="{
        'is-invalid':
          confirmpassword?.invalid &&
          (confirmpassword?.dirty || confirmpassword?.touched) &&
          confirmpassword?.errors?.confirmedValidator
      }" *ngIf="
        confirmpassword?.invalid &&
        (confirmpassword?.dirty || confirmpassword?.touched) &&
        confirmpassword?.errors?.confirmpassword
      ">
        {{ "ResetPassword.Confirm_Password_Is_Required" | translate }}
      </div>
      <div class="invalid-feedback" [ngClass]="{
        'is-invalid':
          confirmpassword?.invalid &&
          (confirmpassword?.dirty || confirmpassword?.touched) &&
          confirmpassword?.errors?.confirmedValidator
      }" *ngIf="
        confirmpassword?.invalid &&
        (confirmpassword?.dirty || confirmpassword?.touched) &&
        confirmpassword?.errors?.confirmedValidator
      ">
        {{ "ResetPassword.Password_Not_Match" | translate }}
      </div>
    </div>
    <div class="d-grid gap-2 text-center" *ngIf="!errors.length">
      <div class="mat-error" *ngFor="let error of errors">
        {{ error }}
      </div>
    </div>
    <div class="text-center pt-4 mb-2">
      <button type="submit" class="btn btn-sm btn-primary-dark px-3">
        {{ "ResetPassword.Change" | translate }}
      </button>
    </div>
    <p class="mb-0 text-center">
      <a [routerLink]="['../login']" class="fs-xs text-secondary">{{
        "ResetPassword.Back" | translate
        }}</a>
    </p>
  </form>
</ng-container>

<!-- Privacy policy -->
<!-- <div class="card mw-tile w-100 flex-1 border-0 mx-auto shadow-sm rounded-4" *ngIf="currentSlide == 2">
  <div class="card-header bg-transparent border-bottom-0 px-3 py-4">
    <div class="text-center">
      <img [src]="logoUrl" alt="VAMS" height="64px" />
    </div>
  </div>
  <div class="card-body d-flex flex-column scroll-y p-4">
    <h4 class="card-title fw-bold text-center mb-4">{{ "policy_documents.privacy_policy" | translate }}</h4>
    <div class="message-tile flex-1 p-2 scroll-y">
      <div id="outerContainer">
        <app-common-pdf-viewer [pdfUrl]="pdfUrl"></app-common-pdf-viewer>
      </div>
    </div>
  </div>
  <footer class="card-footer d-flex align-items-center gap-3">
    <button class="btn btn-sm btn-primary-dark px-3" (click)="next()">
      {{ "policy_documents.accept_button" | translate }}
    </button>
    <button type="submit" class="btn btn-sm btn-white px-3" (click)="currentSlide = currentSlide -1">
      {{ "policy_documents.back_button" | translate }}
    </button>
  </footer>
</div> -->

<!-- Terms and condition -->
<!-- <div class="card mw-tile w-100 flex-1 border-0 mx-auto shadow-sm rounded-4" *ngIf="currentSlide == 3">
  <div class="card-header bg-transparent border-bottom-0 px-3 py-4">
    <div class="text-center">
      <img [src]="logoUrl" alt="VAMS" height="64px" />
    </div>
  </div>
  <div class="card-body d-flex flex-column scroll-y p-4">
    <h4 class="card-title fw-bold text-center mb-4">{{ "policy_documents.terms_condition" | translate }}</h4>
    <div class="message-tile flex-1 p-2 scroll-y">
      <div id="outerContainer">
        <app-common-pdf-viewer [pdfUrl]="pdfUrl"></app-common-pdf-viewer>
      </div>
    </div>
  </div>
  <footer class="card-footer d-flex align-items-center gap-3">
    <button class="btn btn-sm btn-primary-dark px-3" (click)="accept()">
      {{ "policy_documents.accept_button" | translate }}
    </button>
    <button type="submit" class="btn btn-sm btn-white px-3" (click)="currentSlide = currentSlide -1">
      {{ "policy_documents.back_button" | translate }}
    </button>
  </footer>
</div> -->