<div class="card mw-tile w-100 flex-1 border-0 mx-auto shadow-sm rounded-4 scroll-y" *ngIf="questionnaire">
  <div class="card-header bg-transparent border-bottom-0 px-3 py-4">
    <div class="text-center">
      <img [src]="logoUrl" alt="VAMS" height="64px" />
    </div>
  </div>
  <div class="card-body d-flex flex-column flex-1 p-0 scroll-y">
    <div class="d-grid p-3">
      <h4 class="card-title fw-bold">
        {{'HSQ.health_question' | translate}}
      </h4>
      <h6 class="card-subtitle fw-semi-bold mb-0">{{'HSQ.answer_req_str' | translate}}</h6>
    </div>
    <hr class="my-0">
    <form class="d-flex flex-column flex-1 scroll-y" *ngIf="HSQForm" (ngSubmit)="openDialogForConfirm()"
      [formGroup]="HSQForm" autocomplete="off" novalidate>


      <div class="row mb-3" *ngIf="visitorAutnticationType=='Both'">
        <!-- <div class="card-body"> -->
        <div class="row mb-3" *ngIf="visitorAutnticationType=='Both'">
          <label for="feFirstName" class="col-md-3 col-form-label">
            {{ "Schedule.EmailId" | translate }} <span class="mendatory">*</span>
          </label>
          <div class="col-md-9">
            <input type="text" formControlName="email" class="form-control" maxlength="150"
              placeholder="{{ 'Schedule.EmailIdPlaceholder' | translate }}" (keyup)="removeValidator('email')">
            <mat-error *ngFor="let message of showValidationMessages('email')">
              {{ message | titlecase}}
            </mat-error>
          </div>
        </div>
        <p class="text-center mb-3" *ngIf="visitorAutnticationType=='Both'">OR</p>
        <div class="row" *ngIf="visitorAutnticationType=='Both'">
          <label for="feTimeZone" class="col-md-3 col-form-label">
            {{ "Schedule.CellNumber" | translate }} <span class="mendatory">*</span>
          </label>
          <div class="col-md-9">
            <ngx-intl-tel-input class="telephone-control-group" [cssClass]="'form-control'"
              [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
              [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.All]" [selectFirstCountry]="false"
              [separateDialCode]="separateDialCode" [preferredCountries]="['us']" [selectedCountryISO]="selectedCountry"
              [phoneValidation]="phoneValidation" name="phone" (keyup)="removeValidator('cell')" formControlName="cell"
              (countryChange)="checkNumber($event)" appMobileNumberFormat>
            </ngx-intl-tel-input>
            <p *ngIf="submitted">
                      <mat-error *ngIf="!HSQForm.value.contactMobile">Enter Cell Number</mat-error>
                  </p>
            <mat-error *ngIf="HSQForm.get('cell').hasError('validatePhoneNumber') && (HSQForm.get('cell').value!=null)
                      ">
              {{ "Schedule.CellNumberValid" | translate }}
            </mat-error>
          </div>
          <!-- </div> -->
        </div>
      </div>
      <div class="row mb-3" *ngIf="visitorAutnticationType=='Email'">
        <label for="feFirstName" class="col-md-3 col-form-label">
          {{ "Schedule.EmailId" | translate }} <span class="mendatory">*</span>
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" maxlength="150"
            placeholder="{{ 'Schedule.EmailIdPlaceholder' | translate }}" formControlName="email" />
          <mat-error *ngFor="let message of showValidationMessages('email')">
            {{ message | titlecase}}
          </mat-error>
        </div>
      </div>
      <div class="row mb-3" *ngIf="visitorAutnticationType=='Cell'">
        <label for="feTimeZone" class="col-md-3 col-form-label">
          {{ "Schedule.CellNumber" | translate }} <span class="mendatory"
            *ngIf="visitorAutnticationType=='Cell'">*</span>
        </label>
        <div class="col-md-9">
          <ngx-intl-tel-input class="telephone-control-group" [cssClass]="'form-control'"
            [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
            [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.All]" [selectFirstCountry]="false"
            [separateDialCode]="separateDialCode" [preferredCountries]="['us']" [selectedCountryISO]="selectedCountry"
            [phoneValidation]="phoneValidation" name="phone" formControlName="cell"
            (countryChange)="checkNumber($event)" appMobileNumberFormat>
          </ngx-intl-tel-input>
          <p *ngIf="submitted">
                  <mat-error *ngIf="!HSQForm.value.contactMobile">Enter Cell Number</mat-error>
              </p>
          <mat-error *ngIf="HSQForm.get('cell').hasError('validatePhoneNumber') && (HSQForm.get('cell').value!=null)">
            {{ "Schedule.CellNumberValid" | translate }}
          </mat-error>
        </div>
      </div>
      <div class="row mb-3">
        <label for="feFirstName" class="col-md-3 col-form-label">
          {{ "Schedule.FirstName" | translate }}
          <span class="mendatory">*</span>
        </label>
        <div class="col-md-9">
          <input type="text" maxlength="50" class="form-control text-capitalize" id="feFirstName"
            placeholder="{{ 'Schedule.FirstNamePlaceholder' | translate }}" formControlName="firstName" />
          <mat-error *ngFor="let message of showValidationMessages('firstName')">
            {{ message | titlecase }}
          </mat-error>
        </div>
      </div>
      <div class="row mb-3">
        <label for="feLastName" class="col-md-3 col-form-label">
          {{ "Schedule.LastName" | translate }}
          <span class="mendatory">*</span>
        </label>
        <div class="col-md-9">
          <input type="text" maxlength="50" class="form-control text-capitalize" id="feLastName"
            placeholder="{{ 'Schedule.LastNamePlaceholder' | translate }}" formControlName="lastName" />
          <mat-error *ngFor="let message of showValidationMessages('lastName')">
            {{ message | titlecase }}
          </mat-error>
        </div>
      </div>


      <div class="flex-1 px-3" *ngIf="HSQForm.get('HSQArray')" formArrayName="HSQArray">
                <ul class="list-unstyled d-grid gap-4 py-3 mb-0">
                    <li *ngFor="let question of HSQForm.get('HSQArray')['controls']; let i=index">
                        <p class="fs-sm fw-semi-bold mb-2">{{question.get('question').value}}</p>
                        <div [formGroupName]="i">
                            <div [ngSwitch]="question.get('ansType').value">
                                <div class="btn-group" role="group" *ngSwitchCase="'boolean'">
                                    <input id="{{ 'btnRadioYes' + i }}" class="btn-check" type="radio" value="Yes"
                                        formControlName="answer">
                                    <label class="btn btn-outline-primary btn-sm px-4"
                                        for="{{ 'btnRadioYes' + i }}">{{'HSQ.Yes'|
                                        translate}}</label>
                                    <input id="{{ 'btnRadioNo' + i }}" class="btn-check" type="radio" value="No"
                                        formControlName="answer">
                                    <label class="btn btn-outline-primary btn-sm px-4"
                                        for="{{ 'btnRadioNo' + i }}">{{'HSQ.No'|
                                        translate}}</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
      <hr class="my-0">
      <div class="d-flex align-items-center gap-3 p-3">
        <button type="submit" class="btn btn-sm btn-primary-dark px-3">{{'HSQ.submit' |
          translate}}</button>
      </div>
    </form>
  </div>
</div>

<div class="card mw-tile w-100 flex-1 border-0 mx-auto shadow-sm rounded-4" *ngIf="HsqSuccess">
  <div class="card-header bg-transparent border-bottom-0 px-3 py-4">
    <div class="text-center">
      <img [src]="logoUrl" alt="VAMS" height="64px" />
    </div>
  </div>
  <div class="card-body d-flex justify-content-center align-items-center">
    <div class="message-tile d-flex flex-column justify-content-center align-items-center">
      <i class="material-icons display-5 fw-medium text-success">check_circle_outline</i>
      <p class="fw-medium mb-0">{{'HSQ.successfull_msg' | translate}}</p>
    </div>
  </div>
</div>

<ng-container *ngIf="HSQError">
  <app-link-error [showPage]="true"></app-link-error>
</ng-container>