::ng-deep .select2-container {
    top: -4px;
}

::ng-deep .select2-container--default .select2-selection--single {
    border       : none;
    border-bottom: 1px solid #aaa;
    border-radius: 0px;
}

.input-style.unicode-phone-number{
    unicode-bidi: isolate-override;
}

::ng-deep .select2-results__option
{
    cursor: pointer;
}