
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
  /*background: #ffffff;*/
  float: left;
    /*padding: 15px 0px;*/
	padding: 0px 0px;
	margin-top:25px;
	margin-right: 20px;
}

#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  /*padding:10px;*/
  font-size: 14px;
  text-decoration: none;
  /*text-transform:uppercase;*/
  /*font-family: 'Conv_Nobel Regular';*/
  font-family: 'Open Sans';
  color: #000;
  font-weight: bold;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #f59c00;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 0px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 24px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #1d398d;
  border-right: 1px solid #1d398d;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:999;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background:#1d398d;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 1320px), only screen and (max-width: 1320px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1320px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1320px), only screen and (min-resolution: 192dpi) and (max-width: 1320px), only screen and (min-resolution: 2dppx) and (max-width: 1320px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    /* display: none; */
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: left;
    display: block;
    padding: 10px;
  }
  #cssmenu ul ul li a {
    padding: 10px;
    font-size: 14px;
    color: #000000;
    background: none;
    text-align: right;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin-top: 34px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;

  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 22px;
    right:5px;
    display: block;
    width:20px;
    height:3px;
    background: #000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 28px;
    right: 5px;
    display: block;
    width:20px;
    height:9px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    left: 0;
    top: -6px;
    display: block;
    border-left: 0px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #afb46b;
  height:2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.menu-section{
	padding:15px 0px;
}

@media(max-width:1360px){
	.logo img{
		width:100%;
	}	
	
	.logo img {
    margin-top: 30px;
}
}

@media(max-width:1320px){

.book-btn{
	position: absolute;
    right: 104px;
    top: -39px;
}	

#menu-button {
    position: absolute !important;
    top: -50px !important;
    right: 0 !important;
}
	
.logo img{
	margin-top:0px;
	width:80%;
}
.menu-bar {
    padding: 35px 0px;
}
.right-menu {
    float: none;
}
.menu-mobail{
	float:right !important;
	width:100% !important;
}
.logo-area{
	float:left;
}
}


@media (max-width: 1024px){
.logo-area {
    float: left !important;
}

.menu-mobail{
	float:right !important;
	width:100% !important;
}

#cssmenu{
	padding:0px;
	margin-top:0px;
  z-index: 40;
  position: absolute;
  top: 40px;
}
#menu-button {
    position: absolute !important;
    top: -37px !important;
    left: 0 !important;
}
.home {
    padding: 5px 10px !important;
    padding-right: 10px !important;
}

.right-menu {
    float: none;
}
#cssmenu ul{
	margin-top:20px;
  background: #FFFFFF;
box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.05);
-webkit-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.05);
-moz-box-shadow: -1px 2px 5px 2px rgba(0,0,0,0.05);
}
}

.menu-hide{
  display: none !important;
}

@media(max-width:1023px){
 .menu-hide{
    display: inline !important;
  } 
}


@media(max-width:1024px){
	.logo img {
    width: 80%;
	margin-top:0px;
}	

.book-btn {
    padding: 12px 10px;
    position: absolute;
    top: -42px;
    right: 80px;
}

.menu-bar {
    padding: 30px 0px;
}
}


@media (max-width: 480px){
#menu-button {
    top: -37px !important;
}
#cssmenu > ul > li > a{
	font-size:14px;
}
}

@media (min-width: 481px){
.mobail-btn {
    display: none !important;
}
}



@media(min-width:2000px){
	.big-menu{
		width:1500px;
	}	
}

.menu-profile{
  width: 100%;
  position: relative;
}
.menu-profile-img{
  float: right;
  height:36px;
  width: 36px;
  -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
margin-left: 10px;
}
.menu-profile-imgicon{
  float: right;
  width: 20px;
    height: 20px;
    margin-left: 10px

}
.menu-profile-text{
  float: right;  
  font-size: 18px;
  color: #232A60;
}
.menu-profile-text-com{
  float: right;
  padding-top: 2px;
  width: 80%;
  font-size: 14px;
  font-weight: 600;
  color: #232A60;
  text-align: right;
  
}
.menu-profile i{
  left: 10px;
  font-size: 15px;
  position: absolute;
  color: #E60000;
}
.menu-profile-text-com span{
  float: right;
  padding-top: 2px;
  padding-left: 0px;
  font-size: 12px;
  font-weight: 200;
}
           
