<div class="card card-document mw-tile w-100 flex-1 border-0 mx-auto shadow-sm rounded-4">
  <div class="card-header bg-transparent border-bottom-0 px-3 py-4">
    <div class="text-center">
      <img [src]="logoUrl" alt="VAMS" height="64px" />
    </div>
  </div>
  <div class="card-body d-flex flex-column scroll-y p-0">
    <h5 class="card-title fw-bold text-center mb-3" *ngIf="type=='privacy-policy'">{{ "policy_documents.privacy_policy"
      | translate }}</h5>
    <h5 class="card-title fw-bold text-center mb-3" *ngIf="type=='terms-condition'">{{
      "policy_documents.terms_condition" | translate }}</h5>
    <div id="outerContainer" class="d-grid flex-1 border-top scroll-y">
      <ng-container *ngIf="type=='privacy-policy'">
        <app-common-pdf-viewer [pdfUrl]="pdfUrl"></app-common-pdf-viewer>
      </ng-container>
      <ng-container *ngIf="type=='terms-condition'">
        <app-common-pdf-viewer [pdfUrl]="pdfUrl"></app-common-pdf-viewer>
      </ng-container>
    </div>
  </div>
</div>