<div class="d-flex flex-column flex-1 scroll-y">
    <div class="popup-header">
        <button (click)="cancel()" class="btn-close popup-close position-absolute opacity-100"></button>
        <div class="popup-title-wrapper d-flex align-items-center">
            <span class="popup-title d-inline-flex align-items-center fs-sm fw-bold position-relative">
                <span>{{"labels.time_in_out_with_qr" | translate }}</span>
            </span>
        </div>
    </div>
    <div class="popup-form">
        <div class="popup-content" *ngIf="currentSlide == 1">
            <div class="card card-scanner card-body p-2 border-primary overflow-hidden">
                <zxing-scanner #scanner (scanSuccess)="scanSuccessHandler($event)">
                </zxing-scanner>
            </div>
            <div class="text-center my-3">
                {{"labels.OR" | translate }}
            </div>
            <div class="row">
                <input type="number" (keyup.enter)="scanSuccessHandler(qrcode.value)" maxlength="100" id="feCompany"
                #qrcode [(ngModel)]="qrCode" placeholder="{{ 'placeholders.enter_qr_code' | translate }}"
                class="form-control text-capitalize" />
            </div>
        </div>
        <div class="popup-content" *ngIf="currentSlide == 2">
            <ng-container *ngFor="let item of apptDetailsKeys ; let ind = index;">
                <ng-container *ngIf="ind % 2 == 0">
                    <div class="row mb-3">
                        <label *ngIf="apptDetailsKeys[ind]" for="employeeFirstName" class="col-md-4 col-form-label">
                            {{ "AppointmentVisitorDetails."+apptDetailsKeys[ind] | translate }}</label>
                        <div class="col-md-8" *ngIf="apptDetailsKeys[ind]">
                            <ng-container
                                *ngIf="apptDetailsKeys[ind] && appointmentData[apptDetailsKeys[ind]]!=undefined else NotAvailable">
                                <p class="form-control-plaintext text-break mb-0">
                                    {{appointmentData[apptDetailsKeys[ind]]}}
                                </p>
                            </ng-container>
                            <ng-template #NotAvailable>
                                <p class="form-control-plaintext mb-0">-
                                </p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label *ngIf="apptDetailsKeys[ind+1]" for="employeeFirstName" class="col-md-4 col-form-label">
                            {{ "AppointmentVisitorDetails."+apptDetailsKeys[ind+1] | translate }}</label>
                        <div class="col-md-8" *ngIf="apptDetailsKeys[ind+1]">
                            <ng-container
                                *ngIf="apptDetailsKeys[ind+1] && appointmentData[apptDetailsKeys[ind+1]]!=undefined else NotAvailable">
                                <p class="form-control-plaintext text-break mb-0">
                                    {{appointmentData[apptDetailsKeys[ind+1]]}}
                                </p>
                            </ng-container>
                            <ng-template #NotAvailable>
                                <p class="form-control-plaintext mb-0">-
                                </p>
                            </ng-template>
                        </div>
                    </div>

                </ng-container>
            </ng-container>
        </div>
        <footer class="popup-footer d-flex align-items-center gap-3" *ngIf="currentSlide == 2">
            <button class="btn btn-sm btn-primary-dark px-3" (click)="timeInOut()">
                <ng-container *ngIf="(!(this.appointmentData?.isTimeIn) && !(this.appointmentData?.isTimeOut))||(this.appointmentData?.isTimeIn)">{{'cardView.TimeIn' | translate}}</ng-container>
                <ng-container *ngIf="this.appointmentData?.isTimeOut">{{'cardView.TimeOut' | translate}}</ng-container>
            </button>
            <button class="btn btn-sm btn-white px-3" (click)="currentSlide = 1">{{ "buttons.Back" |
                translate}}</button>
        </footer>
    </div>
</div>