<div class="card mw-tile w-100 flex-1 border-0 mx-auto shadow-sm rounded-4">
    <div class="card-header bg-transparent border-bottom-0 px-3 py-4">
        <div class="text-center">
            <img [src]="logoUrl" alt="VAMS" height="64px" />
        </div>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center">
        <div class="message-tile d-flex flex-column justify-content-center align-items-center">
            <i class="material-icons display-5 fw-medium text-danger">error_outline</i>
            <p class="fw-medium mb-0">{{'HSQ.link_error_msg' | translate}}</p>
        </div>
    </div>
</div>