<h6 class="vams-page-sub-title fw-bold mb-0 pt-4 px-3">
    {{"setting_side_menu.hardware_setting" | translate }}
</h6>
<div class="mt-3 scroll-y">
    <mat-list class="vams-list pt-0">
        <mat-list-item>
            <label class="form-label me-auto mb-0">{{"hardware_setting.HID_Scanner" | translate}} </label>
            <mat-slide-toggle>
            </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <label class="form-label me-auto mb-0">{{"hardware_setting.USA_DL_Scanner" | translate}}</label>
            <mat-slide-toggle>
            </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <label class="form-label me-auto mb-0">{{"hardware_setting.BioSecurity_access_control" | translate}}
            </label>
            <mat-slide-toggle>
            </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <label class="form-label me-auto mb-0">{{"hardware_setting.ComboSmart_Scanner" | translate}} </label>
            <mat-slide-toggle>
            </mat-slide-toggle>
        </mat-list-item>
        <mat-list-item>
            <label class="form-label me-auto mb-0">{{"hardware_setting.passport_scanner" | translate}} </label>
            <mat-slide-toggle>
            </mat-slide-toggle>
        </mat-list-item>
    </mat-list>
</div>