<!-- <div>
    <h1>Add Department</h1>
    <form [formGroup]="shareAppointmentForm" novalidate>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="feFirstName">Email<span class="mendatory">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="feFirstName">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>OR<br>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-row">
                    <div class="input-group">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ISO</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" *ngFor="let code of isoCode">
                                    {{code}}
                                    <div role="separator" class="dropdown-divider"></div>
                                </a>
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="onSubmit()" mat-raised-button>Save</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </form>
</div> -->