<!-- View Department Form -->
<div class="d-flex flex-column flex-1 scroll-y" *ngIf="formData.mode == 'show'">
    <div class="popup-header">
        <button (click)="cancel()" class="btn-close popup-close position-absolute opacity-100"></button>
        <div class="popup-title-wrapper d-flex align-items-center">
            <span class="popup-title d-inline-flex align-items-center fs-sm fw-bold position-relative">{{ "Department.Department_Details" | translate }}</span
      >
    </div>
  </div>
  <div class="popup-content">
    <div class="row mb-3">
      <label for="departmentName" class="col-sm-3 col-form-label">{{
        "Department.Name" | translate
      }}</label>
      <div class="col-sm-9">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="departmentName"
          value="{{ formData.data.name }}"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="departmentStatus" class="col-sm-3 col-form-label">{{
        "Department.Status" | translate
      }}</label>
      <div class="col-sm-9">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="departmentStatus"
          value="{{ formData.data.status }}"
        />
      </div>
    </div>
  </div>
  <div class="popup-footer d-flex align-items-center gap-3">
    <button *isPermissible="permissionKeyObj.MASTERVIEWEDIT"
      class="btn btn-sm btn-primary-dark px-3"
      (click)="formData.mode = 'edit'"
    >
      {{ "CommonToken.Edit" | translate }}
    </button>
    <button class="btn btn-sm btn-white px-3" (click)="cancel()">
      {{ "CommonToken.Cancel" | translate }}
    </button>
  </div>
</div>

<!-- Add/Edit Department Form -->
<div
  class="d-flex flex-column flex-1 scroll-y"
  *ngIf="formData.mode == 'edit' || formData.mode == 'add'"
>
  <div class="popup-header">
    <button
      (click)="cancel()"
      class="btn-close popup-close position-absolute opacity-100"
    ></button>
    <div class="popup-title-wrapper d-flex align-items-center">
      <span
        class="popup-title d-inline-flex align-items-center fs-sm fw-bold position-relative"
        *ngIf="!formData.data"
        >{{ "Department.Add_Department" | translate }}</span
      >
      <span
        class="popup-title d-inline-flex align-items-center fs-sm fw-bold position-relative"
        *ngIf="formData.data"
        >{{ "Department.Edit_Department" | translate }}</span
      >
    </div>
  </div>
  <form class="popup-form" [formGroup]="formDepartment" novalidate>
    <div class="popup-content">
      <div class="row mb-3">
        <label for="deptName" class="col-sm-3 col-form-label"
          >{{ "Department.Name" | translate }}
          <span class="mendatory">*</span></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="deptName" formControlName="name" maxlength="50" placeholder="{{ 'Department.name_placeholder' | translate }}" />
                <mat-error *ngFor="let message of showValidationMessages('name')">
                    {{ message }}
                </mat-error>
            </div>
        </div>
        <div class="row mb-3" *ngIf="formData.data">
            <label for="feLastName" class="col-sm-3 col-form-label">{{ "Department.Status" | translate }}
          <span class="mendatory">*</span></label
        >
        <div class="col-sm-9">
          <mat-select class="form-control" formControlName="status">
            <mat-option
              selected
              *ngFor="let name of statusList"
              [value]="name"
              >{{ name }}</mat-option
            >
          </mat-select>
          <mat-error *ngFor="let message of showValidationMessages('status')">
            {{ message }}<br />
          </mat-error>
        </div>
      </div>
    </div>
    <div class="popup-footer d-flex align-items-center gap-3">
      <button
        class="btn btn-sm btn-primary-dark px-3"
        *ngIf="formData?.mode == 'add'"
        (click)="addDept()"
      >
        {{ "CommonToken.Add" | translate }}
      </button>
      <button
        class="btn btn-sm btn-primary-dark px-3"
        *ngIf="formData?.mode == 'edit'"
        (click)="onSubmit()"
      >
        {{ "CommonToken.Save" | translate }}
      </button>
      <button
        class="btn btn-sm btn-white px-3"
        *ngIf="formData?.mode == 'edit'"
        (click)="cancel()"
      >
        {{ "CommonToken.Cancel" | translate }}
      </button>
      <button
        class="btn btn-sm btn-white px-3"
        *ngIf="formData?.mode == 'add'"
        (click)="resetForm()"
      >
        {{ "CommonToken.Clear" | translate }}
      </button>
    </div>
  </form>
</div>