<!-- <div class="d-flex flex-column flex-1 scroll-y">
    <div class="popup-header">
        <button (click)="cancel()" class="btn-close popup-close position-absolute opacity-100"></button>
        <div class="popup-title-wrapper d-flex align-items-center">
            <span class="popup-title d-inline-flex align-items-center fs-sm fw-bold position-relative">
                <span>{{"labels.dl_scan_header" | translate }}</span>
            </span>
        </div>
    </div>
    <div class="popup-form">

    </div>
    <footer class="popup-footer d-flex align-items-center gap-3">

    </footer>
</div> -->